{%extends 'base.html'%}
{%block content%}
<div class="row">
	<div class="col s12 m9">
	  <div class="card ">
	    <div class="card-image">
	      <img src="static/meatball.jpg">
	    </div>
	    <div class="card-content">
	      <h5>Where it all started</h5>
	      <p>My Mother and Father immigrated to this great nation in 1907 and brought there traditional Italian recipies with them. My wife an I carry on the tradition of great food and incredible atmosphere that my parents showed me here at Cafe Buono. Cafe Buono is an Italian American Restaurant located at 562 Farmington Avenue Bristol, CT 06010
		  We specialize in Fine Italian American Cuisine including Neapolitan Style Pizza. Voted Best Italian Food in Bristol for the past 6 years by Readers of the Bristol Press and Bristol Observer</p>
	    </div>
	  </div>
	</div>
</div>
{%endblock%}