{%extends 'base.html'%}
{%block content%}
<ul class="collection with-header menu-list">
      <li class="collection-header"><h4>Appetizers</h4></li>
      <li class="collection-item">FRIED CALAMARI 10</li>
      <li class="collection-item">FRIED ZUCCHINI WITH MARINARA SAUCE 8</li>
      <li class="collection-item">MUSSELS MARINARA 8</li>
      <li class="collection-item">CAPRESE SALAD FRESH MOZZARELLA, TOMATO, BASIL 8</li>
      <li class="collection-item">MUSSELS MARINARA 8</li>
      <li class="collection-item">MOZZARELLA IN CARROZZA FRIED MOZZARELLA SANDWICH 9</li>
      <li class="collection-item">EGGPLANT ROLLATINI 8</li>
      <li class="collection-item">ANTIPASTO PLATE OF MEATS AND CHEESES 12</li>
      <li class="collection-header"><h4>SOUPS & SALADS</h4></li>
      <li class="collection-item">SOUP OF THE DAY 5</li>
      <li class="collection-item">A HEARTY PASTA AND BEAN SOUP WITH FRESH VEGETABLES IN A TOMATO BASE 6</li>
      <li class="collection-item">ESCAROLE & BEAN 6</li>
      <li class="collection-item">SPINACH SALAD 8</li>
      <li class="collection-item">CAESAR SALAD 8</li>
      <li class="collection-item">MESCLUN SALAD 9</li>
      <li class="collection-header"><h4>SIDES</h4></li>
      <li class="collection-item">MEATBALLS 5</li>
      <li class="collection-item">SAUSAGE 6</li>
      <li class="collection-item">SAUTEED SPINACH, GARLIC &amp; OLIVE OIL 4</li>
      <li class="collection-item">FRENCH FRIES 4</li>
      <li class="collection-item">SAUTEED MUSHROOMS &amp; ONIONS 5</li>
      <li class="collection-header"><h4>PASTA</h4></li>
      <li class="collection-item">FETTUCINI BOLOGNESE 15</li>
      <li class="collection-item">PENNE ALIA VODKA 12</li>
      <li class="collection-item">RIGATONI AMANTRICIANA 15</li>
      <li class="collection-item">SPAGHETTI ALA CARBONARA 14</li>
      <li class="collection-item">FETTUCINI ALFREDO 13</li>
      <li class="collection-item">PENNE ARRABBIATA 12</li>
      <li class="collection-item">POMODORO 12</li>
      <li class="collection-item">MACARONI & CHEESE 15</li>
      <li class="collection-item">SPAGHETTI &amp; MEATBALLS 13</li>
      <li class="collection-item">BAKED MANICOTTI 14</li>
      <li class="collection-item">BAKED MEAT LASAGNA 16</li>
      <li class="collection-item">PASTA PRIMAVERA 15</li>
      <li class="collection-header"><h4>PARMIGIANA</h4></li>
      <li class="collection-item">LIGHTLY BREADED AND SERVED GOLDEN BROWN WITH MARINARA SAUCE AND MOZZERALLA CHEESE, SERVED OVER PENNE PASTA <p>EGGPLANT 14 CHICKEN 15 VEAL 19</p></li>
      <li class="collection-header"><h4>MARSALA</h4></li>
      <li class="collection-item">CLASSIC DISH MADE WITH MARSALA WINE, SLICED MUSHROOMS AND A LIGHT BROWN SAUCE<p>CHICKEN 15 VEAL 19</p></li>
      <li class="collection-header"><h4>PICATTA</h4></li>
      <li class="collection-item">A LIGHT LEMON BUTTER &amp; WINE SAUCE WITH CAPERS <p>CHICKEN 15 VEAL 19 SHRIMP 18</p></li>
      <li class="collection-header"><h4>FRANCESE</h4></li>
      <li class="collection-item">LIGHTLY BATTERED AND SAUTEED WITH LEMON BUTTER &amp; WHITE WINE <p>CHICKEN 15 VEAL 19</p></li>
      <li class="collection-header"><h4>CHICKEN AGRODOLCE</h4></li>
      <li class="collection-item">SWEET &amp; SOUR SICILIAN CHICKEN 16</li>
      <li class="collection-header"><h4>CHICKEN SORENTINO</h4></li>
      <li class="collection-item">CHICKEN LAYERED WITH PROSCIUTTO, EGGPLANT, SPINACH AND CREAM CHEESE FINISHED IN A LIGHT BROWN SAUCE 18</li>
      <li class="collection-header"><h4>CHICKEN ROLLATINI</h4></li>
      <li class="collection-item">A PROSCIUTTO &amp; RICOTTA CHEESE MIX STUFFED CHICKEN BREAST SAUTEED IN A MUSHROOM MARSALA SAUCE 17</li>
      <li class="collection-header"><h4>CHICKEN SAN REMO</h4></li>
      <li class="collection-item">CHICKEN SAUTEED WITH OVEN ROASTED TOMATOES, PEAS, MUSHROOMS IN A WHITE WINE GARLIC SAUCE 18</li>
      <li class="collection-header"><h4>VEAL SALTIMBOCCA</h4></li>
      <li class="collection-item">TENDER VEAL CUTLET WITH PROSCIUTTO AND SAGE IN A LIGHT MARSALA BUTTER SAUCE 20</li>
      <li class="collection-header"><h4>VEAL CASA BLANCA</h4></li>
      <li class="collection-item">AN OLD BUONO FAVORITE! PILLOWS OF VEAL STUFFED WITH A RICOTTA CHEESE MIXTURE, DRESSED WITH OUR HOUSE VODKA SAUCE 20</li>
      <li class="collection-header"><h4>VEAL ROLLATINI</h4></li>
      <li class="collection-item">A PROSCIUTTO &amp; RICOTTA CHEESE MIX, SPINACH STUFFED VEAL CUTLET, SAUTEED IN A MUSHROOM MARSALA SAUCE 20</li>
      <li class="collection-header"><h4>FILET MIGNON BAROLO</h4></li>
      <li class="collection-item">8 OZ CENTER CUT FILET WITH GOAT CHEESE, FRESH HERBS AND A BAROLO WINE REDUCTION 24</li>
      <li class="collection-header"><h4>NY STRIP GORGONZOLA</h4></li>
      <li class="collection-item">12 0Z CENER CUT STRIP WITH CARMELIZED ONIONS, MUSHROOMS AND GORGONZOLA CHEESE SAUCE 20</li>
      <li class="collection-header"><h4>FILET TIPS</h4></li>
      <li class="collection-item">TIPS SAUTEED WITH MUSHROOMS, PEPPERS, ONIONS IN A BROWN SAUCE OVER FETTUCINE 20</li>
      <li class="collection-header"><h4>SHRIMP SCAMPI</h4></li>
      <li class="collection-item">SHRIMP SAUTEED IN A GARLIC FRESH HERBS AND WHITE WINE, BUTTER &amp; LEMON SAUCE OVER LINGUINI 20</li>
      <li class="collection-header"><h4>SEAFOOD FRADIABLO</h4></li>
      <li class="collection-item">SHRIMP, COD, CLAMS, MUSSELS, CALAMARI IN A SPICY MARINARA SAUCE SERVED OVER LINGUINI 21</li>
      <li class="collection-header"><h4>SALMON GRIGLIATO</h4></li>
      <li class="collection-item">CHAR-GRILLED SALMON WITH LEMON AND CAPER SAUCE 18</li>
      <li class="collection-header"><h4>STUFFED SOLE FLORENTINE</h4></li>
      <li class="collection-item">SOLE STUFFED WITH SPINACH IN A WHITE WINE BUTTER SAUCE 19</li>
      <li class="collection-header"><h4>BAKED COD</h4></li>
      <li class="collection-item">COD BAKED WITH SPINACH AND ARTICHOKES FINISHED IN A WHITE WINE LEMON SAUCE 18</li>
      <li class="collection-header"><h4>CLAMS &amp; LINGUINI</h4></li>
      <li class="collection-item">WHOLE CLAMS IN A RED OR WHITE WINE SAUCE 18</li>
      <li class="collection-header"><h4>KIDS MENU</h4></li>
      <li class="collection-item">PASTA AL BUNO SPAGHETTI WITH BUTTER 5</li>
      <li class="collection-item">CHICKEN PARMIGIANA WITH LINGUINI 8</li>
      <li class="collection-item">SPAGHETTI &amp; MEATBALL 7</li>
      <li class="collection-item">CHEESE RAVIOLI WITH MARINARA 7</li>
      <li class="collection-header"><h4>COFFEE</h4></li>
      <li class="collection-item">EXPRESSO 2.50</li>
      <li class="collection-item">AMERICANO 2.50</li>
      <li class="collection-item">CAPPUCINO 4.00</li>
      <li class="collection-item">AMERICAN COFFEE 2.00</li>
      <li class="collection-item">TEA 2.00</li>
    </ul>
{%endblock%}