<!DOCTYPE>
{%load staticfiles%}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<!--<script type="text/javascript" src="jquery.text-rotator.js"></script>
	<link rel="stylesheet" type="text/css" href="jquery.text-rotator.css" />-->
	<title>Cafe Buono</title>
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper menu">
			  	<ul>
			  		<div class="row">
			  			<li class="link-list"><a href="{%url 'start:home'%}"><img class="logo" src="../static/logo.jpg"></a></li>
			        </div>
			        <div class="row">
			        	<li class="link-list"><a href="{%url 'start:menu'%}"><h4>Menu</h4></a></li>
			        </div>
			        <div class="row">
			        	<li class="link-list"><a href="{%url 'start:about'%}"><h4>About Us</h4></a></li>
			        </div>
			        <div class="row">
			        	<li class="link-list"><a href="http://cafebuonobristolct.com/"><h4>Order Online</h4></a></li>
			        </div>
			        <div class="row">
			        	<li class="link-list"><a href="{%url 'start:contact'%}"><h4>Contact</h4></a></li>
			        </div>
			  	</ul>
			  </div>
			</div>
		</nav>
	</div>
	<div class="container">
	{%block content%}

	{%endblock%}
	</div>
</body>
</html>